<link rel="stylesheet" href="/css/home.css">

<div class="home-container">
<section id="feed-posts">

    <% if(locals.user) {%>
        <h4><%= user.name %></h4>
        
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>
<% } %>
    <div>
       <ul>  <% for (post of posts) { %>
        
        <%- include('_post');-%>
        <%  }%>
       </ul>
    </div>
</section>


<section id="all-users">
    <% for(u of all_users) {%>
        
    
   <a href="/users/profile/<%=u.id%>"><%= u.name%></a><br>
   

      <%} %>
</section>

</div>
